html, body, p, h1, h2, img, dl, dt, dd {
  margin: 0;
  padding: 0;
}
body {
  color: black;
  background: white;
  font: 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", "Helvetica Neue", Arial, sans-serif;
}
h1, h2, label {
  font-weight: bold;
}
h1 {
  text-align: center;
  clear: both;
  font-size: 200%;
  color: #d7d7d7;
  background: #442359;
  text-shadow: 0em .3em .25em black;
  padding: .5em 1.2em .7em;
  margin-bottom: .5em;
}
h2, label {
  text-align: left;
  font-size: 140%;
  color: #442359;
}
p, form {
  margin-bottom: 1em;
}
.semesters {
  font-size: 90%;
}
.thissemester {
  color: #d7d7d7;
}
.thissemester::before {
  content: "▷ ";
  color: #e0aa0f;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:link, a:visited {
  color: inherit;
  border-bottom: 1px dotted #442359;
}
a:hover, a:active {
  color: #e0aa0f;
  background: #442359;
}
h1 > a:hover, h1 > a:active {
  color: inherit;
  background: inherit;
}
abbr, acronym {
  border-bottom: 1px dotted #000;
  cursor: help;
}
img {
  border: 0;
  vertical-align: bottom;
}
dl {
  margin: .5em 0 1.5em;
}
dl dt {
  float: left;
  text-align: right;
  width: 7.5em;
  border-bottom: 4px solid #e0aa0f;
}
dl dt.next {
  border-bottom-color: #442359;
}
dl dd {
  margin-left: 8.5em;
}
dd + dd {
  margin-bottom: .75em;
  font-style: italic;
}
dd.noseminar {
  font-variant: small-caps;
}
.canceled {
  text-decoration: line-through;
}
#wrap {
  margin: auto;
  padding: 10px;
  width: 800px;
}
#masthead img {
  width: 450px;
  height: 55px;
}
#masthead p:first-child {
  float: left;
  margin: 0 .25em -1em 0;
}
#masthead p:last-child {
  float: right;
  margin-top: .5em;
  text-align: right;
  font-weight: bold;
  color: #442359;
}
#main {
  float: left;
  width: 625px;
}
#side {
  float: right;
  width: 170px;
  padding: 0 0 10px 5px;
}
#side h2, p {
  text-align: right;
}
#side h2 + h2 {
  margin-top: 1rem;
}
#footer {
  clear: both;
  text-align: right;
  font-size: 92%;
  font-style: italic;
  padding: 1em 0 1em;
  border-top: 2px solid #442359;
}
::selection {
  background: #d7d7d7;
}
::-moz-selection {
  background: #d7d7d7;
}

@media print {
body {
  font-size: 15px;
}
a:link, a:visited, abbr, acronym {
  border: none;
}
a.printurl:link:after, a.printurl:visited:after {
  content: " [" attr(href) "]";
  font-size: 90%;
}
dl dt.next {
  border-bottom-color: #e0aa0f;
}
.noprint, #footer {
  display: none;
}
}
